<footer>
    <div class="container">
        <div class="row">
          <div class="col-xs-4">
              <h3>Productos</h3>
              <ul>
                    <li>
                        <a routerLink="/products" [queryParams]="{ type: 'news' }">
                            Nuevos Productos
                         </a>
                    </li>
                    <li>
                        <a routerLink="/products">
                            En oferta
                        </a>
                    </li>
              </ul>
            </div>
          <div class="col-xs-4">
            <h3>Acerca de nosotros</h3>
            <ul>
                <li>
                    <a routerLink="/about-us">
                        Sobre Nosotros
                    </a>
                </li>
                <li>
                    <a routerLink="/stores">
                        Nuestras Tiendas
                    </a>
                </li>
          </ul>
          </div>
          <div class="col-xs-4">
            <h3>Contacto</h3>
            <mat-form-field>
                <input matInput placeholder="Digite su correo" [formControl]="emailField" type="email">
            </mat-form-field>
            <button mat-raised-button [disabled]="emailField.invalid" (click)="sendMail()">enviar</button>
          </div>
        </div>
      </div>
</footer>
